@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
body {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-weight: 500;
}

p::first-letter {
  color: red;
  font-weight: bold;
}

ul > li::first-letter {
  color: blue;
  font-weight: bolder;
}
.foodimg {
  width: 500px;
}

img {
  margin-left: auto;
  margin-right: auto;
}
img[src="images/MasterChef.jpg"] {
  width: 600px;
}

.title {
  font-family: "Dancing Script", cursive;
  border-color: aqua;
  border-radius: 10px;
  border-style: solid;
  border-bottom-color: brown;
  background-color: antiquewhite;
  font-size: 3em;
  width: 500px;
  align-self: center;
}

a {
  font-size: 1.5em;
  text-decoration: none;
  color: rgb(55, 0, 255);
}

.maindiv {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  height: 50px;
  width: 500px;
}

.bluebox {
  background-color: blue;
  text-align: left;
  border: 2px;
  border-color: black;
  border-style: solid;
}
